.wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(450px, 1fr));
  gap: 1rem;
}

.productWrapper {
  position: relative;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-areas: 
  "image title"
  "image price";
  row-gap: 0.8rem;
}

.image {
  grid-area: image;
  width: 150px;
  height: 200px;
  margin-right: 1rem;
  place-self: center;
}

.title {
  grid-area: title;
  font-weight: 700;
  font-size: 1.1rem;
}

.description {
  grid-area: description;
  font-size: 0.9rem;
}

.price {
  grid-area: price;
  font-weight: 500;
  font-size: 1rem;
}

.rating {
  grid-area: rating;
  font-weight: 500;
  place-self: center;
}

.buy {
  grid-area: buy;
  place-self: center end;

  label {
    font-weight: 600;
  }
}

.productButton {
  background: none;
  margin-left: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 450;

  &:hover {
    opacity: 0.7;
  }
}

.viewproduct {
  position: absolute;
  cursor: pointer;
  border-radius: 3rem;
  font-size: 1rem;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: rgba(252, 251, 220, 0.644);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  animation: showModal 0.2s ease-in-out both;
  background: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2rem;
  width: 80%;
}

.closeModal {
  cursor: pointer;
  color: #aaa;
  background: transparent;
  border: none;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes showModal {
  from {
    transform: translateY(-1500px);
  }

  to {
    transform: translateY(0);
  }
}