.wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 1rem;
}

.productWrapper {
  position: relative;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "image image"
  "title title"
  "price view";
  row-gap: 0.8rem;
}

.image {
  grid-area: image;
  width: 150px;
  height: 200px;
  margin-right: 1rem;
  place-self: center;
}

.title {
  grid-area: title;
  font-weight: 700;
  font-size: 1.1rem;
}

.description {
  grid-area: description;
  font-size: 0.9rem;
}

.price {
  grid-area: price;
  font-weight: 500;
  font-size: 1rem;
}

.rating {
  grid-area: rating;
  font-weight: 500;
  place-self: center;
}

.productButton {
  background: none;
  margin-left: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 450;

  &:hover {
    opacity: 0.7;
  }
}

.viewproduct {
  position: absolute;
  cursor: pointer;
  border-radius: 3rem;
  font-size: 1rem;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: rgba(252, 251, 220, 0.644);
}
