.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
}

.home {
  cursor: pointer;
  background: none;
  border: none;
  margin-left: 180px;
  transition: transform 0.5s ease-out;
  
  img {
    height: 200px;
    width: auto;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.attribution {
  text-decoration: none;
  font-size: 0.8rem;
  color: brown;
  float: right;
  margin-bottom: 1rem;
}

.right {
  margin-right: 180px;
  display: flex;
}

.navbutton {
  position: relative;
  border: none;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: transform 0.5s ease-out;
  margin: 1rem;

  img,
  .quantity {
    transition: transform 0.5s ease-out;
  }

  img {
    width: 45px;
    height: 45px;
  }

  span {
    max-width: 0;
    transform: translateX(10px);
    opacity: 0;
    font-weight: 700;
    transition: transform 0.5s ease-out, opacity 0.4s ease-out;
  }

  &:hover {
    img,
    .quantity {
      transform: translateX(-15px);
    }

    span {
      display: inline-block;
      transform: translateX(-10px);
      opacity: 1;
    }
  }
}

.quantity {
  width: 10px;
  height: 10px;
  position: relative;
  /* top: -20px; */
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  font-weight: 700;
  font-size: 0.8rem;
  top: -5px;
  left: -34px;
  width: 4ch;
  text-align: center;
}